<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="FluentMigrator" version="1.4.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net451" />
</packages>